@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--colour-text);
}

body {
    background: linear-gradient(to right, var(--colour-bg-dark), var(--colour-bg-light));
}